@font-face {
  font-family: "belligerent";
  src: url("belligerent.ttf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #261623;
  font-family: "Segoe UI";
}

body {
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#logo {
  width: 400px;
  height: auto;
  margin-left: 3%;
  margin-top: 1%;
}
.contenu {
  flex: 1 0 auto;
}
nav {
  margin-right: 6%;
}
ul {
  display: flex;
}
li a {
  color: #261623;
  padding: 1rem 1rem 0 1rem;
  font-size: 2rem;
  margin-right: 1rem;
  font-family: "belligerent";
  text-decoration: none;
}
#main {
  display: flex;
  justify-content: center;
}
#produits {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
}
#produits a {
  text-decoration: none;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: solid 1px #261623;
}

.image_article {
  height: 200px;
  width: auto;
}

footer {
  background-color: #261623;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 33vh;
  width: 100%;
}

h1 {
  color: #f3e9f1;
  font-size: 3.5rem;
  margin-top: 3rem;
  font-family: "belligerent";
  font-weight: lighter;
}

.reseau {
  margin-top: 2rem;
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.reseau svg {
  width: 55px;
  height: auto;
}

/**PAGE PRODUIT**/
#page_produit {
  display: flex;
  flex-direction: column;
}

.image_nom {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  border-bottom: solid 2px #261623;
}

#images_secondaire {
  display: flex;
  flex-direction: column;
}
#images_secondaire img {
  height: 15vh;
  width: auto;
  border: solid 1px #261623;
  border-top: 0;
}
#images_secondaire img:first-child {
  border-top: solid 1px #261623;
}
#image_principale {
  height: 45.5vh;
}
h2 {
  font-weight: initial;
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 0.2rem;
}

#price {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
select {
  background-color: #f3e9f1;
  color: #261623;
  border-radius: 5px;
  font-size: 2rem;
  border: solid 2px #261623;
  margin-left: 2rem;
  margin-top: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

h3 {
  font-size: 3rem;
  font-weight: initial;
  display: inline-block;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#description {
  font-size: 2rem;
  display: block;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.bouton {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #261623;
  padding: 0.3rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.bouton:hover {
  transform: scale(1.07);
  transition: all 0.2s;
}

.bouton p {
  color: #f3e9f1;
  font-size: 2rem;
  text-align: center;
}

/**PAGE PANIER**/

h4 {
  text-align: center;
  font-family: "belligerent";
  font-size: 3rem;
  font-weight: initial;
}

#panier {
  margin-bottom: 3rem;
}

#vide {
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
}
table {
  width: 100%;
  margin-top: 2rem;
}

th {
  width: 33%;
  padding-bottom: 2rem;
}
td {
  text-align: center;
  padding-bottom: 2rem;
}
td img {
  width: auto;
  height: 100px;
}
#vide-bouton {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #261623;
  padding: 0.3rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
#vide-bouton:hover {
  transform: scale(1.07);
  transition: all 0.2s;
}
#vide-bouton p {
  color: #f3e9f1;
  text-align: center;
  text-decoration: none;
}

form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.formulaire {
  display: flex;
  flex-direction: column;
}

.formulaire label {
  text-align: center;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.formulaire input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: solid #261623 1px;
  margin-bottom: 0.5rem;
}
#total {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}
#formulaire .bouton {
  width: 30%;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
}

#erreur {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: red;
}
/**** PAGE RECAP****/
#header-recap {
  justify-content: center;
}
#recap {
  border: solid 2px #261623;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 2rem;
}
#recap p {
  text-align: center;
  font-size: 1.3rem;
}

#retour-accueil {
  width: 20%;
}
